<?xml version="1.0"?>
<launch>

  <rosparam param="base_width">0.405</rosparam>
  <rosparam param="rate">50</rosparam>
  <rosparam param="timeout_ticks">2</rosparam>

<!-- Xtion camera -->
   <!--<include file="$(find openni2_launch)/launch/openni2.launch"/>-->
  
  <!-- TwistToMotor -->
  <node name="speeds" pkg="nano_tank" type="speeds"></node>

  <!-- TwistToMotor -->
  <node name="my_joy" pkg="my_joystick" type="my_joy"></node>
  
  <!-- TwistToMotor -->
  <node name="joy_node" pkg="joy" type="joy_node"></node>

  <!-- velocity_smoother  -->
  <include file="$(find nano_tank)/launch/velocity_smoother.launch"></include>




</launch>
